

.app-container-filter-button {
  padding-bottom: 20px;
}

.operation-small-button {
  width: 48px;
  vertical-align: center;
  text-align: center;
  padding-left: 5px;
}

.el-dialog {
  width: 40%;
}

.el-upload {
  width: 100%;
}

.el-upload-dragger {
  width: 100%;
}

.el-dialog__body {
  padding-top: 0px;
}

.el-dialog__header {
  padding-bottom: 0px;
}

.el-divider {
  margin-top: 2px;
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    vertical-align: middle;
    margin-bottom: 10px;
  }
}




